a,
body,
div,
form,
html,
img,
input,
label,
p,
span {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: sans-serif, Arial;
}

body,
html {
    min-height: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(135deg, #f7ff0a, #a8f33f, #59e063, #00ca7f, #00b091, #009697, #007b8f, #0a607b);
}

a {
    color: #486173;
}

input,
label {
    vertical-align: middle;
    white-space: normal;
    background: 0 0;
    line-height: 1;
}

label {
    position: relative;
    display: block;
}

.main-ms {
    min-height: calc(100vh - 90px);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.ie-fixMinHeight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ico-ms {
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    margin-left: 14px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

.wrap-ms {
    margin: auto;
    padding: 10px;
    -webkit-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

@media only screen and (min-width:1px) and (max-width:575px) {
    .wrap-ms {
        width: 100%;
    }
}

form {
    width: 100%;
    margin-bottom: 20px;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated-ms {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.info-ms {
    color: #3e4d59;
    font-weight: bold;
    text-align: center;
    margin: 16px;;
    padding: 3px 20px 3px 40px;
    width: auto;
}

input {
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus {
    outline: 0;
}

input[type=password],
input[type=text],
input[type=number] {
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    height: 44px;
    padding: 3px 20px 3px 40px;
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .8);
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    transition: -webkit-box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
    border-radius: 16px;
}

input[type=password]:focus,
input[type=text]:focus {
    -webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1);
}

input[type=submit] {
    background: #3e4d59;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    border-radius: 16px;
}

input[type=submit]:focus,
input[type=submit]:hover {
    background: #33404a;
}

.info.alert {
    color: #da3d41;
}

@media (min-width:576px) {
    .wrap-ms {
        width: 410px;
    }

    * {
        font-size: 14px !important;
    }
}
.btn-copy-ms {
    background: #3e4d59;
    color: #fff;
    border: 0;
    cursor: pointer;
    text-align: center;
    height: 44px;
    border-radius: 16px;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    margin-bottom: 20px;
}

.input-group-ms {
    display: flex;
    align-items: center;
    gap: 5px;
}

.input-group-ms input[type="password"] {
    flex: 1;
}

.image-logo-ms{
    max-width: 170px;
        text-align: center;
        display: block;
        margin: 0 auto;
}

.image-logo-ms-background {
    background: #3e4d59;
    border-radius: 16px;
    padding: 10px;;
}

.evoucher-list-ms {
    max-width: 600px;
    margin: auto;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.voucher-card-ms {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: space-between;
}

.voucher-details-ms {
    flex: 1;
    padding-right: 10px;
}

.voucher-details-ms h3 {
    margin: 0 0 8px;
    font-size: 20px;
    color: #333;
}

.voucher-details-ms p {
    margin: 4px 0;
    color: #666;
}

.button-group-ms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.btn-buy-one-ms,
.btn-buy-bulk-ms {
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    width: 100px;
    text-align: center;
}

.btn-buy-one-ms {
    background: #3e4d59;
    border-radius: 16px;
}

.btn-buy-one-ms:hover {
    background: #3e4d59;
    border-radius: 16px;
}

.btn-buy-bulk-ms {
    background: #3e4d59;
    border-radius: 16px;
}

.btn-buy-bulk-ms:hover {
    background: #3e4d59;
    border-radius: 16px;
}